/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
    --primary-color: #1d3557; /* Dark blue primary color */
    --secondary-color: #457b9d; /* Slightly lighter blue secondary color */
    --accent1-color: #a8dadc; /* Light aqua accent color */
    --accent2-color: #038378;
    --principal-font: "Noto Sans", "Roboto", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--accent1-color);
    font-family: var(--principal-font);
    margin: 0;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.header {
    box-sizing: border-box;
    background-color: var(--primary-color);
    /* border-radius: 0.5em; */
    margin: 0;
    text-align: center;
    padding: 1.5rem;
}

.header h1 {
    color: var(--accent1-color);
    text-align: center;
    padding: 0.75rem;
    max-width: 45rem;
    margin: 0;
}

.header img {
    width: 20vw;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 150px;
}

nav {
    background-color: var(--secondary-color);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.assignments-section {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    width: 97.5%;
    margin: 0 auto;
    padding: 15px 35px;
    padding-bottom: 130px;
}

.assignments-section h2 {
    margin: 0;
    border-bottom: 2px solid var(--accent1-color);
    padding-bottom: 10px;
}

.assignments-section ul {
    padding: 15px;
}

.assignments-section ul li a {
    text-decoration: none;
    color: var(--accent1-color);
}

.assignments-section ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 15px;
    min-height: 70px;
    width: 100%;
}

footer a {
    text-decoration: underline;
    color: var(--accent1-color);
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer p {
    margin: 0;
}