* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

html,
body {
  height: 100%;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #1a2433;
}

header img {
  width: 100px;
  height: auto;
  padding: 10px;
  margin-right: 20px;
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

/* Navigation */
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.navigation li {
  width: 100%;
  text-align: center;
}

.navigation a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.navigation {
  background-color: #2c3e50;
  color: white;
  display: none;
}

.navigation a:hover {
  background-color: #e76f51;
}

.navigation.show {
  display: block;
}

/* Main Content */
main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

main h2 {
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

main li {
  list-style-type: none;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}



.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card h3 {
  text-align: center; 
  color: white; 
  background-color: #2c3e50;
  border: 1px solid black;
  padding: 10px;
  margin: 0; 
  
}

.card ul {
  padding: 20px;
}

.card p {
  padding: 20px;
}

.card li{
  padding: 5px;
}

.card a {
  text-decoration: none; 
  color: blue; 
  margin: 0 5px; 
}

.card a:hover {
  text-decoration: underline; 
}

.card p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#visitCounter {
  padding: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.map{
  width: 100%;
  padding: 20px;
  margin-top: 20px;

}


/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
}
footer a {
  color: white;
}

.brazil-flag {
  vertical-align: middle; 
  width: 30px; 
  height: auto;
  margin-left: 5px;
}

#lastModifiedDate{
  color: #EFCBA7;
}

/* Dark Mode */

#darkModeToggle {
  width: 50px;      
  height: 50px;     
  border-radius: 50%;   
  background-color: #333;  
  color: #f5f5f5;   
  border: none;     
  cursor: pointer; 
  outline: none;   
  font-size: 1.5rem;   
  transition: background-color 0.3s ease; 
  margin-right: 5px;
}

#darkModeToggle:hover {
  background-color: #555;  
}

body.dark-mode #darkModeToggle {
  background-color: #f5f5f5;   
  color: #333;     
}

body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
  
}

body.dark-mode main {
  border-color: #555;
}

body.dark-mode main h2 {
  border-color: #fff;
}

body.dark-mode .card {
  border-color: #555;
  background-color: #444;
  box-shadow: 0 2px 8px white;
}

body.dark-mode .card a {
 color: white;
  
}

body.dark-mode .card h3 {
  background-color: #333;
}